doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    style 
        include main.css
    script 
        include main.js
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
.container
    #search.row
        form#search-form(action='' method='POST' enctype='multipart/form-data')
            .form-group.col-xs-9
                input.form-control(type='text' placeholder='Search')
            .form-group.col-xs-3
                button.btn.btn-block.btn-primary(type='submit') Search
    #filter.row
        form
            .form-group.col-sm-3.col-xs-6
                select.filter-make.filter.form-control(data-filter='make')
                    option(value='') Select Make
                    option(value='') Show All
            .form-group.col-sm-3.col-xs-6
                select.filter-model.filter.form-control(data-filter='model')
                    option(value='') Select Model
                    option(value='') Show All
            .form-group.col-sm-3.col-xs-6
                select.filter-type.filter.form-control(data-filter='type')
                    option(value='') Select Type
                    option(value='') Show All
            .form-group.col-sm-3.col-xs-6
                select.filter-price.filter.form-control(data-filter='price')
                    option(value='') Select Price Range
                    option(value='') Show All
    .row
        #products
