.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

/* Nucleo Style */

.demo-iconshtml {
  font-size: 62.5%;
}

.demo-icons body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #333333;
  background: white;
}

.demo-icons a {
  color: #608CEE;
  text-decoration: none;
}

.demo-icons header {
  text-align: center;
  padding: 100px 0 0;
}

.demo-icons header h1 {
  font-size: 2.8rem;
}

.demo-icons header p {
  font-size: 1.4rem;
  margin-top: 1em;
}

.demo-icons header a:hover {
  text-decoration: underline;
}

.demo-icons .nc-icon {
  font-size: 34px;
}

.demo-icons section h2 {
  border-bottom: 1px solid #e2e2e2;
  padding: 0 0 1em .2em;
  margin-bottom: 1em;
}

.demo-icons ul {
  padding-left: 0;
}

.demo-icons ul::after {
  clear: both;
  content: "";
  display: table;
}

.demo-icons ul li {
  width: 20%;
  float: left;
  padding: 16px 0;
  text-align: center;
  border-radius: .25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.demo-icons ul li:hover {
  background: #f4f4f4;
}

.demo-icons ul p,
.demo-icons ul em,
.demo-icons ul input {
  display: inline-block;
  font-size: 1rem;
  color: #999999;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.demo-icons ul p {
  padding: 20px 0 0;
  font-size: 12px;
  margin: 0;
}

.demo-icons ul p::selection,
.demo-icons ul em::selection {
  background: #608CEE;
  color: #efefef;
}

.demo-icons ul em {
  font-size: 12px;
}

.demo-icons ul em::before {
  content: '[';
}

.demo-icons ul em::after {
  content: ']';
}

.demo-icons ul input {
  text-align: center;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: none;
}

#myInput {
 
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
body {
  background-color: #eee;
}

.fs-12 {
  font-size: 12px;
}

.fs-15 {
  font-size: 15px;
}

.name {
  margin-bottom: -2px;
}

.product-details {
  margin-top: 13px;
}

/* address form */
.address-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  display: none;
  z-index: 999;
}
.address-form-content {
  width: 450px;
  height: 450px;
  background-color: white;
  border-radius: 5px;
}
.address-form-content form {
  padding: 12px 40px;
}
.address-form-content h2 {
  font-size: 14px;
  padding: 18px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.address-form-content h2 span {
  display: block;
  position: absolute;
  height: 30px;
  padding: 0 6px;
  border: 1px solid #DDD;
  right: 12px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  line-height: 30px;
  color: #333;
  border-radius: 5px;
}
.address-form-content form p {
  font-size: 16px;
  padding: 10px;
}
.address-form-content form input, select {
  height: 45px;
  display: block;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #DDD;
  padding: 6px;
  border-radius: 5px;
}
.address-form-content form button {
  margin-top: 20px;
  height: 40px;
  width: 80%;
  cursor: pointer;
  background-color: #F97E0E;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
}
.table-list-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  position: relative;
  z-index: 0;
}

@media (max-width: 640px) {
  .table-list-container {
    border-width: 1px 0;
  }
}
.table-list {
  min-height: 176px;
}

.table-list th {
  border-bottom: 0.6px solid #d2d2d2;
}

.table-list td {
  white-space: nowrap;
  height: 1.75rem;
  vertical-align: top;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
}

.table-list tr:last-child td {
  height: auto;
}

th button.sort {
  text-align: left;
  padding: 0 10px;
  line-height: 1.75rem;
  border: none;
  background: none;
  display: block;
  width: 100%;
  font-size: 12px;
  color: #888;
  border-bottom: 1px solid transparent;
}

th button.sort.textcenter,
th button.sort.text-center {
  text-align: center;
}

th button.sort.textright,
th button.sort.text-right {
  text-align: right;
}

button.sort .bullet {
  margin-top: 13px;
}

.table-list .caret:after {
  content: "";
}

.asc .caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #808080;
  content: "";
  position: relative;
  top: -3px;
  right: -4px;
  font-size: 0;
}

.desc .caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #808080;
  content: "";
  position: relative;
  top: -4px;
  right: -4px;
  font-size: 0;
}

button.sort .caret {
  display: none;
}

button.sort.asc .caret {
  display: inline-block;
}

button.sort.desc .caret {
  display: inline-block;
}

.table-footer {
  background-color: #fff;
  margin-top: -1px;
  position: relative;
  z-index: -1;
}

.table-search {
  width: 310px;
  border-left: 1px solid #d2d2d2;
}

.table-search .search {
  width: 100%;
  border: none;
  background: transparent;
  box-shadow: none;
}

/**/
.table-pagination {
  white-space: nowrap;
}

.table-pagination:after {
  display: block;
  content: "";
  clear: both;
}

.jPaginateBack,
.jPaginateNext,
.table-list-container .pagination {
  float: left;
}

.jPaginateBack,
.jPaginateNext {
  line-height: 1.75rem;
  width: 1.75rem;
  text-align: center;
  user-select: none;
}

.jPaginateBack .material-icons,
.jPaginateNext .material-icons {
  display: block;
  font-size: 16px;
  line-height: inherit;
}