doctype html
head
  meta(charset='utf-8')
  link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
  link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  title Model Fashion
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
  meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
  // CSS Files
  style 
    include ./assets/css/bootstrap.min.css
  style 
    include ./assets/css/paper-dashboard.css 
  style 
    include ./assets/css/main.css
block content 
  title Quên mật khẩu
  .container.d-flex.flex-column.justify-content-between.vh-100(enctype="multipart/form-data")
    .row.justify-content-center.mt-5
      .col-xl-5.col-lg-6.col-md-10
        .card
          .card-header.bg-primary(style="background-image: linear-gradient(to left,#ffffff67,#0015f7);")
            .app-brand
              span.brand-name(style="font-size:20px; color: #fff;") Model Fashion 
          .card-body.p-5
            h4#title1.text-dark.mb-5 Nhập thông tin khôi phục mật khẩu
            h4#title2.text-dark.mb-5(style="display : none") Tạo mật khẩu mới cho tài khoản
            .row.flex-center
                .form-group.col-md-12.mb-3
                    input#phone.form-control.input-lg(type='text' placeholder="Nhập số điện thoại" name="phone")
                    
                #divOTP.form-group.col-md-12(style="display : none")
                    input#otp.form-control.input-lg(type='number' placeholder="Nhập mã OTP" name="otp")
                    #countdown
                #divChangePass.form-group.col-md-12(style="display : none")
                    input#newPass.form-control.input-lg(type='password' placeholder="Nhập mật khẩu" name="password")
                    input#rePass.form-control.input-lg.mt-3(type='password' placeholder="Nhập lại mật khẩu" name="re-password")
                .col.text-center
                    button#getOTP.btn.btn-lg.btn-primary(style="background-image: linear-gradient(to right,#ffffff67,#0015f7);") Lấy mã OTP
                    button#verifyOTP.btn.btn-lg.btn-primary(style="background-image: linear-gradient(to right,#ffffff67,#0015f7); display : none") Xác Nhận OTP
                    button#changePass.btn.btn-lg.btn-primary(style="background-image: linear-gradient(to right,#ffffff67,#0015f7); display : none") Cập nhật mật khẩu
    .copyright.pl-0
      p.text-center
        | &copy; 2022 Dự án tốt nghiệp "Hệ thống bán quần áo online".
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/js/forgotPassword.js
script.
    $(document).ready(function() {
    forgotPassword.recoveryPass()
    });
