doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/demo/demo.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main')
                | Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li.active
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='#')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='#')
                        i.nc-icon.nc-user-run
                        p Log Out
    .main-panel
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    a.navbar-brand(href='#') Thêm sản phẩm
        .content.d-flex.justify-content-center
            .col-md-6
                .card.card-user
                    .card-header
                        h5.card-title  Nhập thông tin sản phẩm
                    .card-body
                        form.was-validated(action='/product/addProduct' method='post' enctype='multipart/form-data' role='form')
                            .row
                                .col-md-10.pr-1
                                    .form-group
                                        label Tên sản phẩm
                                        input.form-control(type='text' placeholder='Nhập tên sản phẩm ...' name='product_name' required='')
                                        .invalid-feedback Chưa nhập tên
                            .row
                                .col-md-10.pr-1
                                    .form-group
                                        label Giá bán
                                        input.form-control(type='number' placeholder='Nhập giá bán ...' min='10000' name='price' required='')
                                        .invalid-feedback Chưa nhập giá
                            .row
                                .col-md-5.pr-1
                                    .form-group
                                        label(for='exampleInputEmail1') Thể loại
                                        select.custom-select(name="category_name" class='w-[150px] h-[40px]' required='')
                                            option(value="") Chọn thể loại
                                            each i in  listCategory 
                                                option( value=i.category_name name="category_name")=i.category_name
                                        .invalid-feedback Chưa chọn thể loại
                            .row
                                .col-md-10.pr-1    
                                    .form-group
                                        table.table
                                            thead
                                                th(scope='col') Size
                                                th(scope='col') S
                                                th(scope='col') M
                                                th(scope='col') L
                                                th(scope='col') XL
                                            tbody
                                                tr(style= 'height : 100px')
                                                    th
                                                        label(style='width:100px') Số Lượng
                                                    td 
                                                        input( placeholder="Nhập Số Lượng" type='number' min='0' max='1000' name='quantityS' style='width: 125px' required='')
                                                    td 
                                                        input( placeholder="Nhập Số Lượng" type='number' min='0' max='1000' name='quantityM' style='width: 125px' required='' )
                                                    td 
                                                        input( placeholder="Nhập Số Lượng" type='number' min='0' max='1000' name='quantityL' style='width: 125px' required='')
                                                    td 
                                                        input( placeholder="Nhập Số Lượng" type='number' min='0' max='1000' name='quantityXL' style='width: 125px' required='')
                            .row    
                                .col-md-5.pr-1.pb-3.align-self-center
                                    .form-group
                                        label Ảnh sản phẩm
                                    .flex.justify-between.mb-6
                                        .flex
                                            input#fileToUpload1(type='file' name='product_image' required='')
                            .row    
                                .col-md-12.pr-1.pb-3.align-self-center
                                    .form-group
                                        label Ảnh minh họa
                                    .flex.justify-between.row

                                        input#fileToUpload1(type='file' name='product_image' required='')

                                        input#fileToUpload1(type='file' name='product_image' required='')

                                        input#fileToUpload1(type='file' name='product_image' required='')
                            .row
                                .update.ml-auto.mr-auto
                                    button.btn.btn-primary(type='submit' value='Tạo sản phẩm' name='submit') Thêm sản phẩm
                            .col-lg-6.mx-auto
                                .bg-white.rounded-lg.shadow-sm.p-5
                                    .mb-4
                                        .form-group
                                            label.mb-10(class='text-[16px] text-[#E51B23]') Chọn ảnh sản phẩm
                                            .flex
                                                input#fileToUpload1(type='file' name='product_image')
                                        .form-group
                                            label.mb-10(class='text-[16px] text-[#E51B23]')  Chọn Ảnh Nền
                                            .flex
                                                input#fileToUpload2(type='file' name='image_1' required='')
                                            .flex
                                                input#fileToUpload3(type='file' name='image_2' required='')
                                            .flex
                                                input#fileToUpload4(type='file' name='image_3' required='')
                                    .flex.justify-center
                                        input.bg-gradient-to-r.from-cyan-400.to-blue-400.text-white.px-6.py-3.rounded-md.drop-shadow-md.transition-all.duration-500(class='hover:-translate-y-1 hover:bg-gradient-to-l' type='submit' value='Thêm Sản Phẩm' name='submit')
                script(src='http://maps.google.com/maps/api/js?sensor=true')
